<h1>Search</h1>

<%= link_to "favorits", favorites_url %>
<%= link_to "friends", friends_url %>
<%= link_to "greeting", greeting_url %>

<ul>
  <%= link_to "Search for Something", "http://www.google.com" %>
</ul>
